@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 165 13% 95%;
    --foreground: 197 37% 10%;
    --card: 165 13% 100%;
    --card-foreground: 197 37% 10%;
    --popover: 165 13% 100%;
    --popover-foreground: 197 37% 10%;
    --primary: 172 58% 39%;
    --primary-foreground: 172 58% 98%;
    --secondary: 165 10% 90%;
    --secondary-foreground: 197 37% 10%;
    --muted: 165 10% 90%;
    --muted-foreground: 197 10% 40%;
    --accent: 197 37% 24%;
    --accent-foreground: 197 37% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 165 10% 85%;
    --input: 165 10% 85%;
    --ring: 172 58% 39%;
    --chart-1: 172 58% 39%;
    --chart-2: 197 37% 24%;
    --chart-3: 172 40% 60%;
    --chart-4: 197 25% 40%;
    --chart-5: 172 30% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 197 37% 8%;
    --foreground: 165 13% 90%;
    --card: 197 37% 12%;
    --card-foreground: 165 13% 90%;
    --popover: 197 37% 8%;
    --popover-foreground: 165 13% 90%;
    --primary: 172 58% 45%;
    --primary-foreground: 172 58% 98%;
    --secondary: 197 37% 15%;
    --secondary-foreground: 165 13% 90%;
    --muted: 197 37% 15%;
    --muted-foreground: 165 10% 60%;
    --accent: 197 37% 30%;
    --accent-foreground: 197 37% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 37% 15%;
    --input: 197 37% 15%;
    --ring: 172 58% 45%;
    --chart-1: 172 58% 45%;
    --chart-2: 197 37% 30%;
    --chart-3: 172 40% 55%;
    --chart-4: 197 25% 45%;
    --chart-5: 172 30% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
